{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/vender/original_bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/vender/top_gimic.css' %}">
    <link rel="stylesheet" href="{% static 'css/vender/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/vender/hamburger.css' %}">

    {% block original_style %}{% endblock %}
</head>

<body>
    <header class="header">
        <h1>Portfolio</h1>

        <nav class="header-nav">
            <ul>
                <li><a href="{% url 'hello:page_top' %}">Home</a></li>
                <li><a href="{% url 'hello:page_about' %}">About</a></li>
                <li><a href="{% url 'hello:page_portfolio' %}">Portfolio</a></li>
                <li><a href="{% url 'hello:page_contact' %}">Contact</a></li>
            </ul>
        </nav>

        
        <nav id="header-nav-sp" class="header-nav-sp">
            <ul>
                <li><a href="{% url 'hello:page_top' %}">Home</a></li>
                <li><a href="{% url 'hello:page_about' %}">About</a></li>
                <li><a href="{% url 'hello:page_portfolio' %}">Portfolio</a></li>
                <li><a href="{% url 'hello:page_contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div id="humberger" class="humberger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

    </header>

    {% block content %}{% endblock %}
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>