{% extends '../base.html' %}

{% block content %}
<div class="bg-img">
    <div class="bg-cover"></div>
</div>
<div class="top-content container">
    <div class="top-text">
        <div class="text">
            <h2>Hello World!<br>This is my Portfolio</h2>
            <p>Here you can find my projects and skills.</p>
        </div>

    </div>

</div>
<div class="about-me">
    <div class="about-me-text container">
        <h2>About Me</h2>
        <p>皆さん初めましてエンジニアのRyuです。</p>
        <p>私はエンジニアとしてのキャリアをスタートしたばかりですが、常に新しい技術を学び、成長することに情熱を持っています。</p>
        <p>私のポートフォリオでは、私が取り組んできたプロジェクトやスキルを紹介しています。</p>
    </div>

</div>

<div class="works">
    <div class="works-text container">
        <h2>Works</h2>
        <p>私が取り組んできたプロジェクトやスキルを紹介します。</p>
        <a href="{% url 'qrcode_app:index' %}">qrcode generater</a>

    </div>
</div>
{%endblock%}